model_config_list {
  config {
    name: 'handnumbers'
    base_path: '/models/handnumbers/models'
    model_platform: 'tensorflow'

    model_version_policy {
        specific {
            versions: 0
            versions: 1
          }
        }
    version_labels {
        key: 'fully_connected'
        value: 0
    }
    version_labels {
        key: 'convolutional'
        value: 1
    }
  }
  config {
    name: 'kmeans'
    base_path: '/models/kmeans/models'
    model_platform: 'tensorflow'

    model_version_policy {
        specific {
            versions: 1
            versions: 2
            versions: 3
            versions: 4
            versions: 5
          }
        }
    version_labels {
        key: 'one cluster'
        value: 1
    }
    version_labels {
        key: 'two cluster'
        value: 2
    }
    version_labels {
        key: 'three cluster'
        value: 3
    }
    version_labels {
        key: 'four cluster'
        value: 4
    }
    version_labels {
        key: 'five cluster'
        value: 5
    }
  }
}