model_config_list {
  config {
    name: 'handnumbers'
    base_path: '/models/handnumbers/models'
    model_platform: 'tensorflow'

    model_version_policy {
        specific {
            versions: 0
            versions: 1
          }
        }
    version_labels {
        key: 'fully_connected'
        value: 0
    }
    version_labels {
        key: 'convolutional'
        value: 1
    }
  }
}